@{
    ViewData["Title"] = "Snake";
}

<style>
    #logs {
        background: black;
        color: white;
    }
</style>

<div class="max-w-[500px] mx-auto p-3">
    <pre id="logs" class="p-3"></pre>
</div>

<script>
    logs.innerText = 'Logs go here';

    var socket = new WebSocket('ws://' + location.host + '/game/snake?username=Test');

    socket.onopen = function() {
        logs.innerText = 'Connection open.';
    }

    socket.onclose = function() {
        logs.innerText = 'Connection closed.';
    }

    socket.onmessage = function(event) {
        logs.innerText = JSON.stringify(JSON.parse(event.data), null, 2);
    }

    socket.onerror = function(event) {
        logs.innerText = 'Error happened. Check console for details.';
        console.error(event);
    }

</script>
