@{
    ViewData["Title"] = "Home Page";
}

<style>
    #game {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        background: black;
        line-height: 0;
    }

    #game > div {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: blue;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    #game > div.is-player {
        background: green;
    }

    #game > div.is-enemy {
        background: red;
    }

</style>

<div class="text-center mt-4">
    <h1 class="text-[2rem] font-bold">Welcome to the MP Game</h1>
</div>

<div id="loginForm">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username_i">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username_i" type="text" placeholder="Username">
        </div>
        <div class="flex items-center justify-between">
            <button id="signInButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-75" type="button" disabled onclick="connect()">
                Connect
            </button>
        </div>
    </form>
</div>

<!-- GAME -->
<div id="game" class="hidden" tabindex="0">
</div>

<div class="ml-[100px]">
    <ul id="ulLog" class="list-none">
        <li>
            1. <strong><pre class="inline">Logs go here</pre></strong>
        </li>
    </ul>
</div>

<script>

    function addLog(txt) {
        let log = document.createElement('pre');
        let item = document.createElement('li');

        log.classList.add('inline');
        log.innerText = txt;
        item.innerText = (ulLog.children.length + 1) + '. ';
        item.insertAdjacentHTML('beforeend', '<strong>' + log.outerHTML + '</strong>');

        ulLog.insertAdjacentElement('afterbegin', item);
    }

    function drawSquare(posX, posY) {
        let index = (posY - 1) * 10 + (posX - 1);
        console.log(index);
        game.children[index].classList.add('is-player');
    }

    // Connect web socket
    function connect() {

        var url = 'wss://' + location.host;
        var usernameComponent = '?username=' + encodeURIComponent(username_i.value);
        var socket = new WebSocket(url + usernameComponent);

        socket.addEventListener('open', function(event) {
            addLog('Connected to ' + url);
            loginForm.classList.add('hidden');
            game.classList.remove('hidden');

            game.onkeyup = function (event) {
                if (event.keyCode == 87) {
                    socket.send('W');
                }
                else if (event.keyCode == 65) {
                    socket.send('A');
                }
                else if (event.keyCode == 83) {
                    socket.send('S');
                }
                else if (event.keyCode == 68) {
                    socket.send('D');
                }
            }
        });

        socket.addEventListener('message', function(event) {
            addLog('Message from server: ' + event.data);
            handleMessage(event.data);
        });

        socket.addEventListener('close', function(event) {
            addLog('Connection to ' + url + ' closed.');
            loginForm.classList.remove('hidden');
            game.classList.add('hidden');
            game.onkeyup = null;
        });
    }

    function handleMessage(msg) {
        let obj = JSON.parse(msg);

        if (obj.type == 'initial') {
            drawSquare(obj.posX, obj.posY);
        }
    }

    // Initialize page
    document.addEventListener('DOMContentLoaded', function() {

        // Initialize the input form
        username_i.value = '';
        username_i.addEventListener('keyup', function() {
            if (username_i.value.length > 2) {
                signInButton.disabled = false;
            }
            else {
                signInButton.disabled = true;
            }
        });

        // Initialize the game
        for (let i = 0; i < 100; ++i) {
            
            let block = document.createElement('div');
            game.insertAdjacentElement('beforeend', block);
        }
    });

</script>